*{
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
    box-sizing: border-box;
}

:root {
    --neutral-dark-mode: #13132D;
    --neutral-white: #FCFCFE;
    --neutral-70: #313159;
    --secondary-banana-yellow: #FDEB37;
    --secondary-caribbean-green: #04DC9B;
    --secondary-french-fucsia: #FF4298;
    --primary-lavander-indigo: #8D4EEB;
    --dl: 47.78px;
    --dm: 39.8px;
    --ds: 33.3px;
    --tl: 27.6px;
    --tm: 23px;
    --ts: 19.2px;
    --bl: 16px;
    --bm: 13.3px;
    --bs: 11.1px;
}

/* -------------- Navbar  ------------ */

body {
    color: var(--neutral-white);
    background-color: var(--neutral-dark-mode);
}

header {
    margin: 1rem 1.5rem;
}

#logo {
    background: url(./resources/Logo-P-42px.svg);
    background-size: 4rem;
    background-repeat: no-repeat;
    background-position: right;
}

h1 {
    width: 100%;
    height: 3.5rem;
    text-indent: -8000px;
    overflow: hidden;
}

#open {
    background: url(./Resources/icon-menu-28px.svg);
    background-size: 2.5rem;
    background-repeat: no-repeat;
    background-position: center;
}

#close {
    background: url(./resources/icon-menu-close-28px.svg);
    background-size: 2.5rem;
    background-repeat: no-repeat;
    background-position: center;
}

#burger li a {
    display: block;
    width: 4rem;
    padding: 20px;
}

nav ul {
    list-style: none;
}

#menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#burger {
    text-indent: -8000px;
    overflow: hidden;
    padding: 0 20px 0 20px;
}

#bar {
    display: none;
    height: calc(100vh - 4.8rem);
    background-color: var(--neutral-70);
}

#bar li a {
    display: block;
    width: 100%;
    text-align: center;
    padding: 40px;
    font-size: var(--bl);
    color: var(--neutral-white);
    text-decoration: none;
}

#burger li:last-child {
    display: none;
}

#menu:target #bar {
    display: block;
}

nav:target #burger li:first-child {
    display: none;
}

nav:target #burger li:last-child {
    display: flex;
}

/* ------------------------------------HERO SECTION----------------------------- */

#sec-carrusel{
    width: 100%;
    margin: 0; 
    padding: 0;
    overflow: hidden;
}

.fotorama{
    width: 100%;
    height: auto;
}

/* ------------------------------------QUIENES SOMOS----------------------------- */

#sec-01 {
    display: grid;
    justify-content: center;
    margin: 0 18.75rem 0 18.75rem;
    gap: 1.25rem;
}

#sec-01 h2 {
    text-align: center;
    font-size: var(--dl);
    padding: 3.31rem;
}

#sec-01 article {
    text-align: center;
}

#sec-01 img{
    width: 320px;
}

.mision, .valores{
    width: 30.625rem;
    text-align: left;
}

.vision, .objetivos{
    width: 30.625rem;
    text-align: right;
}

.sec-mision, .sec-valores {
    width: 52.5rem;
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: var(--bl);
}

.sec-vision, .sec-objetivos {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 30px;
    font-size: var(--bl);
}

#sec-01 h3 {
    font-size: var(--ds);
    text-transform: uppercase;
    padding-bottom: 20px;

}

/* ------------------------------------TABLET VIEW----------------------------- */

@media screen and (min-width: 577px) {

    /* ------------------------------------NAV BAR----------------------------- */

    header {
        margin: 1rem 1.5rem;
    }

    #logo {
        background: url(./resources/01_Logo_Brand_RockStartTech_Colour_White_Asset_MW_P1_v1-12.svg);
        background-size: 20rem;
        background-repeat: no-repeat;
    }

    #burger li {
        display: flex;
        justify-content: flex-end;
    }
}

/* ------------------------------------WEBSIDE VIEW----------------------------- */

@media screen and (min-width: 992px) {
    /* ------------------------------------NAV BAR----------------------------- */

    header {
        display: flex;
        height: 4rem;
        margin: 1.5rem 2rem;
    }

    #logo {
        background: url(./resources/01_Logo_Brand_RockStartTech_Colour_White_Asset_MW_P1_v1-12.svg);
        background-size: 20rem;
        background-repeat: no-repeat;
    }

    h1 {
        width: 100%;
        text-indent: -8000px;
        overflow: hidden;
    }

    #menu {
        display: flex;
        justify-content: flex-end;
        position: inherit;
    }

    #burger {
        display: none;
    }

    #bar {
        display: flex;
        list-style: none;
        background: none;
        height: 100%;
    }

    nav {
        align-self: center;
    }

    nav ul li {
        width: 10rem;
    }

    nav ul li a {
        color: var(--neutral-white);
        text-decoration: none;
    }

    #bar li a {
        font-size: var(--wv);
        padding: 0;
    }
}